{% extends "base.html.twig" %}
{% block body %}
    <div class="jumbotron">
        <h1>Welcome to the Student page!</h1>
        <p>To add a new Student click <a href="{{ path('add_student') }}">here.</a></p>
        <p>To add a new StudentGroup click <a href="{{ path('add_group') }}">here.</a></p>
    </div>
{% endblock %}
